html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    font-family: Arial, sans-serif;

    overflow: hidden;
}

.scene {
    width: 100%;
    height: 100%;

    background: linear-gradient(to top, #5cc3ff, #1c92ea);
    background: #292d3e;
}

.world {
    position: absolute;
    top: 50%;
    left: 50%;

    perspective: 5700px;

    transform-style: preserve-3d;
}

$planeMode: false;

.cube {
    position: absolute;

    width: 1em;
    height: 1em;

    font-size: 100px;

    transform-style: preserve-3d;
    transform: translate3d(0em, 0em, 0em);

    &.is-active {

        .cube__side:after {
            border-color: red;
        }
    }

    &_in-card {
        font-size: 18px;
        transform: translate3d(-0.42em, 0.1em, 0) rotateX(-30deg) rotateY(-45deg) !important;
    }

    &_ghost {
        .cube__side {
            opacity: 0.3;
        }
    }

    &_material_grass {
        .cube__side {
            background-image: url("../img/materials/cube/grass.png");
        }
    }

    &__side {
        position: absolute;

        width: 100%;
        height: 100%;

        line-height: 0.7em;
        text-align: center;

        background: rgba(red, 1) 0 0 / 4em auto no-repeat;

        transform: translate3d(0em, 0em, 0em);

        &:before {
            //display: none;
            font-size: 0.8em;
            color: #fff;
            font-weight: 900;
            vertical-align: middle;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;

            width: 100%;
            height: 100%;

            border: 1px solid rgba(#000, 0.2);
        }

        &_f {
            &:before {
                content: "F";
            }

            background-position: -1em -1em;
        }

        &_u {
            &:before {
                content: "U";
            }

            background-position: -1em 0;

            @if $planeMode {
                // Развертка
                transform: translate3d(0, -1em, 0);
            } @else {
                // Куб
                transform: translate3d(0, -.5em, -.5em) rotateX(90deg);
            }
        }

        &_d {
            &:before {
                content: "D";
            }

            background-position: -1em -2em;

            @if $planeMode {
                // Развертка
                transform: translate3d(0, 1em, 0);
            } @else {
                // Куб
                transform: translate3d(0, .5em, -.5em) rotateX(-90deg);
            }
        }

        &_b {
            &:before {
                content: "B";
            }

            background-position: -3em -1em;

            @if $planeMode {
                // Развертка
                transform: translate3d(2em, 0, 0);
            } @else {
                // Куб
                transform: translate3d(0, 0, -1em) rotateY(180deg);
            }
        }

        &_l {
            &:before {
                content: "L";
            }

            background-position: 0 -1em;

            @if $planeMode {
                // Развертка
                transform: translate3d(-1em, 0, 0);
            } @else {
                // Куб
                transform: translate3d(-.5em, 0, -.5em) rotateY(-90deg);
            }
        }

        &_r {
            &:before {
                content: "R";
            }

            background-position: -2em -1em;

            @if $planeMode {
                // Развертка
                transform: translate3d(1em, 0, 0);
            } @else {
                // Куб
                transform: translate3d(.5em, 0, -.5em) rotateY(90deg);
            }
        }
    }
}

.interface {
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;

    line-height: 0;
    text-align: center;

    &__line {
        display: inline-flex;
        justify-content: center;
    }

    &-card {
        position: relative;
        z-index: 1;

        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        margin: 0;

        cursor: pointer;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            z-index: -1;

            box-shadow: 0 0 0 2px rgba(#000, 0.3), inset 2px 2px 0 0 #eee,
            inset -2px 0 0 0 #aaa, inset 0 0 0 5px #ccc, inset 7px 8px 0 0 #aaa,
            inset -7px -7px 0 0 #ececec, inset 0 0 0 10px rgba(#000, 0.1);

            opacity: 0.6;
        }

        transform-origin: center bottom;

        &.is-active {
            z-index: 2;

            transform: scale(1.07);

            &:before {
                opacity: 1;
            }
        }
    }
}
