{{> header title="CSS3. Build and Mine" }}

<div class="preloader js-preloader" id="preloader">
  <div class="preloader__cube-place">
    <div class="cube cube_material_grass preloader__cube js-preloader-cube">
      <div class="cube__wrapper">
        <div class="cube__side cube__side_f js-preloader-cube-side" data-side="F"></div>
        <div class="cube__side cube__side_u js-preloader-cube-side" data-side="U"></div>
        <div class="cube__side cube__side_b js-preloader-cube-side" data-side="B"></div>
        <div class="cube__side cube__side_d js-preloader-cube-side" data-side="D"></div>
        <div class="cube__side cube__side_l js-preloader-cube-side" data-side="L"></div>
        <div class="cube__side cube__side_r js-preloader-cube-side" data-side="R"></div>
      </div>
    </div>
  </div>
  <button class="preloader-btn js-preloader-btn">
    <span class="preloader-btn__state preloader-btn__state_start">
      <span class="preloader-btn__value">START</span>
    </span>
    <span class="preloader-btn__state preloader-btn__state_end js-preloader-btn-fill">
      <span class="preloader-btn__value">START</span>
    </span>
  </button>
</div>

<div class="scene" id="scene">
  <div class="world" id="world">

  </div>
</div>




{{> footer }}